<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.special.team.modular.dao.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.special.team.modular.model.User">
		<result column="Id" property="Id" />
		<result column="Name" property="Name" />
		<result column="NameEn" property="NameEn" />
		<result column="Email" property="Email" />
		<result column="Tel" property="Tel" />
		<result column="Company" property="Company" />
		<result column="Department" property="Department" />
		<result column="DepartmentBranch" property="DepartmentBranch" />
		<result column="Position" property="Position" />
		<result column="WorkingLocation" property="WorkingLocation" />
		<result column="DirectNumber" property="DirectNumber" />
		<result column="ExtensionNumber" property="ExtensionNumber" />
		<result column="Introduction" property="Introduction" />
		<result column="Status" property="Status" />
		<result column="Activated" property="Activated" />
		<result column="OpenId" property="OpenId" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
        Id, `Name`, NameEn, Email, Tel, Company, Department, DepartmentBranch, `Position`, WorkingLocation, DirectNumber, ExtensionNumber, Introduction, Status, Activated, OpenId
    </sql>

	<select id="selectHot" resultType="com.special.team.modular.vo.HotVo">
       SELECT
			u.Id AS id,
			u.`Name` AS `name`
		FROM
			`s_user` u
		WHERE
			Id IN ( SELECT UserId FROM s_userproject WHERE ProjectId IN ( SELECT Id FROM s_project WHERE ProjectName LIKE CONCAT('%',#{key},'%') ) )
    </select>

	<select id="selectHot1" resultType="com.special.team.modular.vo.HotVo">
       SELECT
			Id AS id,
			`Name` AS `name`
		FROM
			`s_user` u
		WHERE `Name` LIKE CONCAT('%',#{key},'%')

    </select>

	<select id="selectUserById" resultType="com.special.team.modular.vo.ResultVo">
       SELECT
			Id AS id,
			`Name` AS `name`,
			NameEn AS nameEn,
			Email AS email,
			Tel AS tel,
			Company AS company,
			`Position` AS `position`,
			`Status` AS `status`
		FROM
			`s_user`
		WHERE `Id`=#{id}

    </select>

</mapper>
